<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                traceId=%mdc{traceId},spanId=%mdc{spanId}  %yellow(%logger{10}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <appender name="AsyncLogger" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Console"/>
    </appender>

    <root level="info">
        <appender-ref ref="AsyncLogger"/>
    </root>

    <logger name="net.apmoller.athena.microservices" level="trace" additivity="false">
        <appender-ref ref="AsyncLogger"/>
    </logger>

</configuration>